.App {
  font-family: sans-serif;
  padding: 1rem 5rem;
}

p {
  border: 1px solid black;
  padding: 2rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  
}
.icon{
  
  font-size: 100px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
